{% extends 'base.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block page_heading %}
    Welcome to our Hobby Site
{% endblock %}

{% block content %}
    <h2>Explore Our Apps:</h2>
    <ul>
        <li><a href="{% url 'commissions:commission-list' %}">Commissions</a></li>
        <li><a href="{% url 'merchstore:items' %}">Merchstore</a></li>
        <li><a href="{% url 'blog:blog-list' %}">Blog</a></li>
        <li><a href="{% url 'wiki:articles' %}">Wiki</a></li>
    </ul>
{% endblock %}