{% extends 'base.html' %}

{% block title %}Merchandise Store{% endblock %}

{% block content %}
    <h1>Merchandise Store</h1>
    
    {% if owner_products %}
        <h2>List of My Products:</h2>
                {% for item in owner_products %}
                    <li><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></li>
                {% endfor %}
            </ul>
        <h3><a href="{% url 'merchstore:add' %}"><button>Add product</button></a></h3>
        {% endif %}

        <h2>Other Products:</h2>
        {% for product_type, products in product_types.items %}
            <h2>{{ product_type }}</h2>
            <ul>
                {% for item in products %}
                    <li><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></li>
                {% endfor %}
            </ul>
        {% endfor %}
{% endblock %}
