{% extends "base.html" %}
{% block title %}Merchandise Store{% endblock title %}
{% block content %}
    <h1>Your Cart</h1>
    {% for seller in sellers_list %}
        {% if seller.user.username != request.user.username %}
            <h2>{{ seller.display_name }}</h2>
        {% endif %}
        {% for transaction in buyer_transactions %}
            {% if seller.user.username == transaction.product.owner.user.username %}
                <li>Product: {{ transaction.product.name }}</li>
                <ul>
                    <p>
                        Buyer: {{ transaction.buyer.display_name }} <br>
                        Amount: {{ transaction.amount }} <br>
                        Status: {{ transaction.transaction_status }} <br>
                        Created on: {{ transaction.created_on }}
                    </p>
                </ul>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock content %}