{% extends "base.html" %}

{% block title %}
    Blog List
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <button><a href = "{% url 'blog:blog-create'%}">Create New Article</a></button>
        <h2>Your Articles</h2>
        <ul>
            {% for article in object_list %}
                {% if article.author == request.user.profile %}
                    <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        
    <h2>Other Articles</h2>
    <ul>
        {% for article in object_list %}
            {% if not request.user.is_authenticated or article.author != request.user.profile %}
                <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}