{% extends 'base.html' %}

{% block title %}Commission Detail{% endblock %}

{% block content %}
    <h2>Title: {{ commission.title }}</h2>
    <p>Description: {{ commission.description }}</p>
    <p>Created on: {{ commission.created_on }}</p>
    <p>Updated on: {{ commission.updated_on }}</p>

    <h2>Comments</h2>
    <ul>
        {% for comment in commission.comments.all %}
            <li>{{ comment.entry  }}</li>
            <p>created on: {{ comment.created_on  }}</p>
            <p>updated on: {{ comment.updated_on  }}</p>
        {% endfor %}
    </ul>
{% endblock %}