{% extends 'base.html' %}

{% block title %}Commission Detail{% endblock %}

{% block content %}
    <h2>Commission Title: {{ commission.title }}</h2>
    <p>Description: {{ commission.description }}</p>
    <p>Created by: {{ commission.author }}</p>
    <p>Status: 
        {% if commission.status == '1' %}
            Open
        {% elif commission.status == '2' %}
            Full
        {% elif commission.status == '3' %}
            Completed
        {% elif commission.status == '4' %}
            Discontinued
        {% endif %}
    </p>
    <p>Created On: {{ commission.created_on }}</p>
    <p>Updated On: {{ commission.updated_on }}</p>

    <p>Total Manpower Required: {{ sum_manpower_required }}</p>

    <h3>Jobs under this commission:</h3>
    <ul>
        {% for job in jobs %}
            <li><strong>Job Name: {{job.role}}</strong></li>
            <p>Manpower Required: {{job.manpower_required}}</p>
            <p>Open Manpower: {{job.open_manpower}}</p>
            <p>Status: 
                {% if commission.status == '1' %}
                    Open
                {% elif commission.status == '2' %}
                    Full
                {% endif %}
            </p>

            {% if request.user.is_authenticated %}
                {% if commission.author != request.user.profile %} 
                    <form method="post">
                        {% csrf_token %}
                        {{ job_application_form.as_p }}
                        <button type="submit">Apply</button>
                    </form>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>


    {% if request.user == commission.author.user %}
        <a href="{% url 'commissions:commission-update' pk=commission.pk %}"><button>Edit Commission</button></a>
    {% endif %}
{% endblock %}